<!DOCTYPE html>
<html>
<head>
    <title>Vue Redactor</title>
    <meta charset="utf-8">

    <!--css -->
    <link rel="stylesheet" href="/your-folder/redactor.css" />
</head>
<body>

    <div id="app">
        <Redactor v-model="content" placeholder="Type here..." :config="configOptions" />
        <textarea v-model="content"></textarea>
    </div>

    <!-- redactor.js -->
    <script src="/your-folder/redactor.js"></script>

    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- redactor vue component -->
    <script src="../vue-redactor.js"></script>

    <!-- app -->
    <script>
    new Vue({
        el: '#app',
        data() {
            return {
                content: '<h1>Hello and welcome</h1>',
                configOptions: {}
            }
        }
    });
    </script>

</body>
</html>